# Visual Studio files
.vs/
**/bin/
**/obj/
*.suo
*.user
*.vspscc
*.vssscc
*.vsidx
*.sln.docstates
*.userprefs

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NuGet Packages Directory
packages/

# Others
*~
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
orleans.codegen.cs

# Visual Studio temp files
*.swp
*.*~
~*.*

.idea
/packages/
riderModule.iml
/_ReSharper.Caches/